@media (max-width: 399.95px) {
  .css-1ujnqem-MuiTabs-root .MuiTabs-scrollButtons {
    display: none;
  }
}
@media (max-width: 399.95px){
  .css-1ujnqem-MuiTabs-root .MuiTabs-scrollButtons {
    display: none;
}
}
/* <style> */
.css-1ujnqem-MuiTabs-root .MuiTabs-scrollButtons {
    display: block;
}
