.environmentArea:after{
    content: "";
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .6;
    z-index: -1;
}
.enviContent.MuiBox-root.css-0 {
    width: 631px;
    height: auto;
    text-align: center;
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 100;
}