
.list-nav {
    font-size: 16px;
    font-weight: 500;
    color: #525560;
    text-transform: capitalize;
    min-width: 25px;
    padding: 10px 14px;
}
 .list-nav-active {
  
    color: #000;
  
}
.logoIcon {
    margin-left: 20px;
    height: auto;
    max-width: 100%;
}

/* 
.toolbarArea {
    padding-left: 0px;
    padding-right: 0px;
} */