
/*  */
.newsletter-form {
  /* background: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%); */
  position: relative;
  height: 50px;
  z-index: 2;
  margin-top: 30px;
}
.newsletter-form:after {
  position: absolute;
  content: "";
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  /* background: -webkit-linear-gradient(-30deg, #91039f 0%, #91039f 100%); */
  background: -webkit-linear-gradient(-30deg, #d3d0d3 0%, #91039f 100%);
  z-index: -1;
}
.newsletter-form input {
  width: 100%;
  height: 100%;
  border: none;
  padding: 25px;
  /* background: #3f1667; */
  background: #0e0517;
  color: #fff;
  padding-right: 112px;
  font-size: 16px;
  font-weight: 400;
}
.newsletter-form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}
.newsletter-form input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}
.newsletter-form input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}
.newsletter-form input::placeholder {
  color: #fff;
  opacity: 0.6;
}
.newsletter-form button {
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  width: 100px;
  /* background: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%); */
  background: -webkit-linear-gradient(-30deg, #ffff 0%, #f0f1f3 100%);
  outline: none;
  border: none;
  /* color: #fff; */
  color: #1D2130;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px ;
}
/* .newsletter-form button:hover {
  background: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%);
} */
